# Group by

In [1]:
import pandas as pd
# Cria dataframe
data = {'IES':['UFMT','UNIC','UFMT','UNIC','UNIC','UNIC','UFMT'],
       'Pesquisador':['José','Carlo','Luciana','Osvaldo','Victor','Maricéia','Marcelo'],
       'Artigos':[200,70,120,80,20,20,100]}

In [2]:
data

{'IES': ['UFMT', 'UNIC', 'UFMT', 'UNIC', 'UNIC', 'UNIC', 'UFMT'],
 'Pesquisador': ['José',
  'Carlo',
  'Luciana',
  'Osvaldo',
  'Victor',
  'Maricéia',
  'Marcelo'],
 'Artigos': [200, 70, 120, 80, 20, 20, 100]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    IES Pesquisador  Artigos
0  UFMT        José      200
1  UNIC       Carlo       70
2  UFMT     Luciana      120
3  UNIC     Osvaldo       80
4  UNIC      Victor       20
5  UNIC    Maricéia       20
6  UFMT     Marcelo      100

In [5]:
df.groupby('IES')

VocÃª pode salvar este objeto como uma nova variÃ¡vel:

In [6]:
por_IES = df.groupby("IES")

In [7]:
por_IES.mean()

      Artigos
IES
UFMT    140.0
UNIC     47.5

In [8]:
por_IES.mean().loc['UNIC']

Artigos    47.5
Name: UNIC, dtype: float64

In [9]:
df.groupby('IES').mean()

      Artigos
IES
UFMT    140.0
UNIC     47.5

Mais exemplos:

In [10]:
por_IES.std()

        Artigos
IES
UFMT  52.915026
UNIC  32.015621

In [11]:
por_IES.min()

     Pesquisador  Artigos
IES
UFMT        José      100
UNIC       Carlo       20

In [12]:
por_IES.max()

     Pesquisador  Artigos
IES
UFMT     Marcelo      200
UNIC      Victor       80

In [13]:
por_IES.count()

      Pesquisador  Artigos
IES
UFMT            3        3
UNIC            4        4

In [14]:
por_IES.describe()

     Artigos
       count   mean        std    min    25%    50%    75%    max
IES
UFMT     3.0  140.0  52.915026  100.0  110.0  120.0  160.0  200.0
UNIC     4.0   47.5  32.015621   20.0   20.0   45.0   72.5   80.0

In [15]:
por_IES.describe().transpose()

IES                  UFMT       UNIC
Artigos count    3.000000   4.000000
        mean   140.000000  47.500000
        std     52.915026  32.015621
        min    100.000000  20.000000
        25%    110.000000  20.000000
        50%    120.000000  45.000000
        75%    160.000000  72.500000
        max    200.000000  80.000000

In [16]:
por_IES.describe().transpose()['UNIC']

Artigos  count     4.000000
         mean     47.500000
         std      32.015621
         min      20.000000
         25%      20.000000
         50%      45.000000
         75%      72.500000
         max      80.000000
Name: UNIC, dtype: float64