# Series

In [1]:
import numpy as np
import pandas as pd

### Criando uma série

Você pode converter uma lista, array numpy, ou dictionary em uma série:

In [2]:
rotulos = ['a','b','c']
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

**Utilizando Listas**

In [3]:
minha_lista

[10, 20, 30]

In [4]:
pd.Series(data=minha_lista)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=minha_lista,index=rotulos)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(minha_lista,rotulos)

a    10
b    20
c    30
dtype: int64

**Arrays NumPy**

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(arr,rotulos)

a    10
b    20
c    30
dtype: int64

**Dicionários**

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Dados da série

In [10]:
pd.Series(data=rotulos)

0    a
1    b
2    c
dtype: object

In [11]:
# Funções (embora seja improvável que você utilize isso)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Índices

In [15]:
ser1 = pd.Series([1,2,3,4],index = ['Brasil', 'Alemanha','Chile', 'Japão'])

In [16]:
ser1

Brasil      1
Alemanha    2
Chile       3
Japão       4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,5,4],index = ['Brasil', 'Alemanha','Itália', 'Japão'])

In [18]:
ser2

Brasil      1
Alemanha    2
Itália      5
Japão       4
dtype: int64

In [19]:
ser1['Brasil']

1

In [20]:
ser1 + ser2

Alemanha    4.0
Brasil      2.0
Chile       NaN
Itália      NaN
Japão       8.0
dtype: float64