# Python - curso rápido

Este notebook trabalharÃ¡ os tÃ³picos bÃ¡sicos na seguinte ordem:

* Tipos de dados
    * Números
    * Textos
    * Printing
    * Lista
    * Dicionários
    * Booleanos
    * Tuplas 
    * Conjuntos
* Operadores de comparaçao
* if,elif, else
* for
* while
* range()
* listas
* funÃ§Ãµes
* lambda expressions
* mapas e filtros
* métodos
____

## Tipos de dados

### Números

In [286]:
1 + 2

3

In [287]:
1 * 3

3

In [288]:
1 / 2

0.5

In [289]:
2 ^ 13

15

In [1]:
4 % 2

0

In [291]:
5 % 2

1

In [292]:
(2 + 3) * (5 + 5)

50

### AtribuiÃ§Ã£o de VariÃ¡veis

In [2]:
# Não se pode iniciar com um nÃºmero ou caracter especial (um comentÃ¡rio comeÃ§a com #)
nome_da_var = 2

In [294]:
nome_da_var

2

In [3]:
x = 2
y = 3

In [6]:
print(x)

2

In [297]:
z = x + y

In [298]:
z

5

### Textos

In [7]:
'aspas simples'

'aspas simples'

In [8]:
"aspas duplas"

'aspas duplas'

In [9]:
"com um ' dentro"

"com um ' dentro"

In [10]:
s = 'abcdefghijk'

In [11]:
s[0:]

'abcdefghijk'

In [13]:
s[:3]

'abc'

In [12]:
s[5:]

'fghijk'

In [14]:
s[3:5]

'de'

### Imprimir

In [15]:
x = 'OlÃ¡'

In [16]:
x

'OlÃ¡'

In [17]:
print(x)

OlÃ¡

In [18]:
num = 13
nome = 'Carlo'

In [311]:
print('Meu número Ã©: {um}, e meu nome é: {dois}'.format(um=num,dois=nome))

Meu número Ã©: 13, e meu nome é: Carlo

In [312]:
print('Meu número Ã©: {}, e meu nome é: {}'.format(num,nome))

Meu número Ã©: 13, e meu nome é: Carlo

### Listas

In [19]:
[1,2,3]

[1, 2, 3]

In [20]:
['OlÃ¡',1,[1,2]]

['OlÃ¡', 1, [1, 2]]

In [21]:
minha_lista = ['a','b','Joca']

In [22]:
minha_lista

['a', 'b', 'Joca']

In [23]:
minha_lista.append('d')

In [24]:
minha_lista

['a', 'b', 'Joca', 'd']

In [319]:
minha_lista[0]

'a'

In [320]:
minha_lista[1]

'b'

In [321]:
minha_lista[1:]

['b', 'Joca', 'd']

In [322]:
minha_lista[:1]

['a']

In [323]:
minha_lista[0] = 'NOVO'

In [324]:
minha_lista

['NOVO', 'b', 'Joca', 'd']

In [26]:
aninhado = [1,2,3,[4,5,['destino']]]

In [30]:
aninhado[3][2]

['destino']

In [326]:
aninhado[3][2][0]

'destino'

In [327]:
aninhado[3][2]

['destino']

In [328]:
aninhado[3][2][0]

'destino'

### DicionÃ¡rios

In [329]:
d = {'Id1':'item1','Id2':'item2'}

In [330]:
d

{'Id1': 'item1', 'Id2': 'item2'}

In [331]:
d['Id2']

'item2'

In [332]:
a = {'k1':[1,2,3]}

In [333]:
a

{'k1': [1, 2, 3]}

In [334]:
a['k1'][1:3]

[2, 3]

In [335]:
minha_lista = a['k1']

In [336]:
minha_lista

[1, 2, 3]

In [337]:
a['k1'][1]

2

### Booleanos

In [338]:
True

True

In [339]:
False

False

### Tuplas

In [340]:
t = (1,2,3)

In [341]:
t[0]

1

In [342]:
t[0] = 'Novo'

TypeError: 'tuple' object does not support item assignment

### Conjuntos

In [344]:
{1,2,3}

{1, 2, 3}

In [345]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [346]:
2 in {1,2,3}

True

## Operadores de comparaÃ§Ã£o

In [347]:
1 > 2

False

In [348]:
1 < 2

True

In [349]:
1 >= 1

True

In [350]:
'a' < 1

TypeError: '<' not supported between instances of 'str' and 'int'

In [352]:
1 <= 4

True

In [353]:
1 == 1

True

In [354]:
'OlÃ¡' == 'olÃ¡'

False

## Operadores lógicos

In [355]:
(1 > 2) and (2 < 3)

False

In [356]:
(1 > 2) or (2 < 3)

True

In [357]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else

In [358]:
if 1 < 2:
   print('Epa!')

Epa!

In [359]:
if 10 < 2:
    print('primeiro')
else:
    print('segundo')

segundo

In [360]:
if 1 > 2:
    print('primeiro')
else:
    print('segundo')

segundo

In [361]:
if 1 == 2:
    print('primeiro')
elif 3 == 3:
    print('intermediário')
else:
    print('Último')

intermediário

## for

In [362]:
seq = [1,2,'a',4,5]

In [363]:
for item in seq:
    print(item)

1
2
a
4
5

In [364]:
for item in seq:
    print('Epa!')

Epa!
Epa!
Epa!
Epa!
Epa!

In [365]:
for aux in seq:
    print(aux+aux)

2
4
aa
8
10

## while

In [366]:
i = 1
while i < 5:
    print('i Ã©: {}'.format(i))
    i = i+1

i Ã©: 1
i Ã©: 2
i Ã©: 3
i Ã©: 4

## range()

In [367]:
a = range(5)

In [368]:
for i in range(5):
    print(i)

0
1
2
3
4

In [369]:
list(range(5))

[0, 1, 2, 3, 4]

## listas com operador de pertença

In [370]:
x = [1,2,30,4]

In [371]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 900, 16]

In [372]:
[item**2 for item in x]

[1, 4, 900, 16]

In [373]:
5 in x

False

In [374]:
x.append(5)
5 in x

True

In [375]:
x

[1, 2, 30, 4, 5]

In [376]:
for aux in x:
    print(aux)

1
2
30
4
5

## funções

In [377]:
def minha_funcao(param1='padrão'):
    """
    documentação...
    """
    print(param1)

In [378]:
minha_funcao

In [379]:
minha_funcao()

padrão

In [380]:
minha_funcao('novo parâmetro')

novo parâmetro

In [381]:
minha_funcao(param1='novo parâmetro')

novo parâmetro

In [382]:
def cubo(x):
    return x**3

In [383]:
cubo(334)

37259704

In [384]:
res = cubo(21)

In [385]:
print(res)

9261

## lambda expressions

In [386]:
def dobro(var):
    return var*2

In [387]:
dobro(2)

4

In [388]:
lambda var: var*2

## map(), filter()

In [389]:
seq = [1,2,3,4,5]

In [390]:
map(dobro,seq)

In [391]:
list(map(dobro,seq))

[2, 4, 6, 8, 10]

In [392]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [393]:
filter(lambda item: item%2 == 0,seq)

In [394]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [395]:
st = 'Olá¡, meu nome é Carlo'

In [396]:
st.lower()

'olá¡, meu nome é carlo'

In [397]:
st.upper()

'OLÁ¡, MEU NOME É CARLO'

In [398]:
st.split()

['Olá¡,', 'meu', 'nome', 'é', 'Carlo']

In [399]:
tweet = 'Estudem Pyhon! #nerds'

In [400]:
tweet.split('#')

['Estudem Pyhon! ', 'nerds']

In [401]:
tweet.split('#')[1]

'nerds'

In [402]:
d

{'Id1': 'item1', 'Id2': 'item2'}

In [403]:
d.keys()

dict_keys(['Id1', 'Id2'])

In [404]:
d.items()

dict_items([('Id1', 'item1'), ('Id2', 'item2')])

In [405]:
lst = [1,2,3]

In [406]:
lst.pop()

3

In [407]:
lst

[1, 2]

In [408]:
'x' in [1,2,3]

False

In [409]:
'x' in ['x','y','z']

True